   <% content_for :body_custom_style, "id='home'" %>
   <div class="container">
      <div class="row-fluid">
        <div class="span12" id="bg">
          <img alt="Photo slide01" src="/uploads/cover/image/4/photo-slide01.jpg">
        </div>
      </div>
    </div>