   <% content_for :body_custom_style, "id='home'" %>
   <div class="carousel">
      <div class="row-fluid">
        <div class="span12">
          <img alt="Photo slide01" src="/uploads/cover/image/4/photo-slide01.jpg" style="width:100%;">
          <a target="_blank" href="http://www.youtube.com/watch_popup?v=bzix-zBgENI&vq=hd720">
          	<div class="video-play">
          	</div>
          </a>
        </div>
      </div>
    </div>