    <div class="container checkout summary">
      <div class="row-fluid">
        <div class="span12">     

          <h3>Order Complete</h3> 
     
          <h2> Thank you for your order</h2>
          <h3> please finish your payment in 24 hours time </h3>

           <div class="control-group">
                  <div class="controls">
                  <button class="btnflat action">Continue Shopping</button>
                  </div>
            </div>

        </div><!-- ./span12 -->
      </div><!-- ./ row-fluid -->
    </div><!-- ./container -->