 <div class="container checkout summary">
      <div class="row-fluid">
        <div class="span12">     

          <h3>Payment Complete</h3> 
          <div class="checkout-steps">
            <ul class="unstyled clearfix">
              <li><span class="completed"><a href="" title="Back to Previous">About You</a></span></li>
              <li><span class="completed"><a href="" title="Back to Previous">Billing</a></span></li>
              <li><span class="completed"><a href="" title="Back to Previous">Shipping</a></span></li>
              <li><span class="completed"><a href="" title="Back to Previous">Payment</a></span></li>
              <li><span class="completed">Summary &amp; Pay</span></li>
              <li><span class="current">Complete</span></li>
            </ul>
          </div>
          
          <h2>Thank You</h2>
          <p>Thank you for shopping with Jooliett. Please complete your payment in 1 x 24 hour.</p>
          <p>
            <span>
              <%= form_tag("/products/category/new-arrival", method: "get", :style => "display:inline;") do %>
                <button class="btnflat action">Continue Shopping</button>
              <% end %>
            </span>
            <span>
            <%= form_tag("/payment_confirmations/#{@order.invoice_code }", method: "get", :style => "display:inline;"  ) do %>            
            <button class="btnflat action">Confirm Your Payment</button>
            <% end %>
          </span>
          </p>
        </div><!-- ./span12 -->
      </div><!-- ./ row-fluid -->
    </div><!-- ./container -->