 <div class="container checkout summary">
      <div class="row-fluid">
        <div class="span12">     

          <h3>Payment Complete</h3> 
          <div class="checkout-steps">
            <ul class="unstyled clearfix">
              <li><span class="completed"><a href="" title="Back to Previous">About You</a></span></li>
              <li><span class="completed"><a href="" title="Back to Previous">Billing</a></span></li>
              <li><span class="completed"><a href="" title="Back to Previous">Shipping</a></span></li>
              <li><span class="completed"><a href="" title="Back to Previous">Payment</a></span></li>
              <li><span class="completed">Summary &amp; Pay</span></li>
              <li><span class="current">Complete</span></li>
            </ul>
          </div>
          
          <h2>Thank You</h2>
          <p>Thank you for shopping with Jooliett. Your order is being processed.</p>
          <p><button class="btnflat action">Please Confirm Your Payment</button></p>
        </div><!-- ./span12 -->
      </div><!-- ./ row-fluid -->
    </div><!-- ./container -->