 <div class="container">
      <div class="row-fluid">
        <div class="span8">
          <h1>How To Order</h1>

      <h2>6 SIMPLE STEPS TO SHOP AT JOOLIETT</h2>
      <ol>
        <li>
          <h4> SELECT PRODUCT</h4>
        <p>Click on a category of choice from the top section of the website.  For a complete description and larger view of the image, click on your desired product.</p>
      </li>
      <li>
        <h4> ADD TO BAG</h4>
        <p>Select your size and quantity, then click “BUY!”. You will be redirected to checkout page, and you can choose to CONTINUE SHOPPING or PROCEED TO PURCHASE.</p>
      </li>
      <li>
        <h4>  PROCEED TO PURCHASE</h4>
        <p>If you're still browsing at the product catalog you could also click on the SHOPPING BAG icon on the right top of the website to review your items at the check out page and choose PROCEED TO PURCHASE to finalize your order.</p>
      </li>

       <li>
        <h4>SIGN IN</h4>
        <p>You will be asked to provide a valid email address. If you are a registered shopper, please use your registered email address so that your order will be automatically recorded in your account. For a first-time shopper, simply fill in your details to register.</p>
      </li>

       <li>
        <h4>SIGN IN</h4>
        <p>You will be asked to provide a valid email address. If you are a registered shopper, please use your registered email address so that your order will be automatically recorded in your account. For a first-time shopper, simply fill in your details to register.</p>
      </li>

      <li>
        <h4>CONFIRM ORDER</h4>
        <p>Review the list of items that you have selected to purchase and click "Confirm" to submit your order. An ORDER ID & order details will appear on screen, and you will also receive an email report regarding your order. </p>
      </li>

      <li>
        <h4>CONFIRM PAYMENT</h4>
        <p>When you have completed your payment, re-visit the web to enter your ORDER ID at the confirm payment link. You will receive your payment confirmation via email after you have submitted your payment details.</p>
      </li>

       <li>
        <h4>TRACK YOUR ORDER</h4>
        <p>After payment has been received, a received payment confirmation will be sent to your email. Tracking number will also be sent to your email max 1x24 hours of payment received (exclude weekends & holidays). </p>
      </li>

</ol>

        </div><!-- ./span8 -->
        <div class="span3 pull-right">
          <h4>Sidebar</h4> 
          <h5>[SPAN3, PULL-RIGHT]</h5>

          <div class="widget helpbox">
            <ul class="unstyled">
              <li><i class="icon-info-sign"></i> +62-21-89788990</li>
              <li><i class="icon-envelope"></i> cs@jooliett.com</li>
              <li><i class="icon-comment"></i> jooliett (bb pin)</li>
              <li><i class="icon-comment"></i> jooliett (line id)</li>
              <li><i class="icon-time"></i> 09.00 - 18.00</li>
            </ul>
          </div>         

        </div>
      </div>
    </div>