 <div class="container article">
      <div class="row-fluid">
        <div class="span8">
          <div class="title">
            <h1>How To Order</h1>
            <h2>8 SIMPLE STEPS TO SHOP AT JOOLIETT</h2>
          </div>

      <div class="body">          
          <ol>
            <li>              
              <h4> SELECT PRODUCT</h4>
            <p>Click on a category of choice from the top section of the website.  For a complete description and larger view of the image, click on your desired product.</p>
          </li>
          <li>
            <h4> ADD TO BAG</h4>
            <p>Select your size and color, then click “BUY!”. New item will be added to your bag.</p>
          </li>
          <li>
            <h4>  PROCEED TO CHECKOUT</h4>
            <p>If you're still browsing at the product catalog you could also click on the “MY BAG” icon on the right top of the website to review your items at the checkout page and choose “PROCEED TO CHECKOUT” to finalize your order.</p>
          </li>

           <li>
            <h4>SIGN UP / SIGN IN</h4>
            <p>You will be asked to provide a valid email address. If you are a registered shopper, please use your registered email address so that your order will be automatically recorded in your account. For a first-time shopper, click “CONTINUE CHECKOUT” in “I’M NEW TO JOOLIETT” and simply fill in your details to register.</p>
          </li>

           <li>
            <h4>PAYMENT METHODS</h4>
            <p>After filling your details, choose your “PAYMENT METHODS” to finalize your order.</p>
          </li>

          <li>
            <h4>CONFIRM ORDER</h4>
            <p>When you have completed your payment methods, you check again your ORDER SUMMARY (product name, quantity, shipping and billing address, and selected payment methods). Then click “PLACE TO ORDER” to complete your order.</p>
          </li>

          <li>
            <h4>TRACK YOUR ORDER</h4>
            <p>After payment has been received, a received payment confirmation will be sent to your email. Tracking number will also be sent to your email max 1x24 hours of payment received (exclude weekends and holidays).</p>
          </li>

           <li>
            <h4>PAYMENT CONFIRMATION</h4>
            <p>Do not forget to confirm your payment, because we cannot proceed your order without any confirmation. Please use the link on the payment confirmation email, to confirm your payment. Orders will be automatically cancelled if there is no payment made within <strong>24hours</strong> after ordering.</p>
          </li>

    </ol>
  </div>

        </div><!-- ./span8 -->
        <div class="span3 pull-right">
          <h4>Contact</h4> 

          <div class="widget helpbox">
            <ul class="unstyled">
              <li><i class="icon-envelope"></i> cs@jooliett.com</li>
              <li><i class="icon-comment"></i> jooliett (bb pin)</li>
              <li><i class="icon-comment"></i> jooliett (line id)</li>
              <li><i class="icon-comment"></i> 0812-20466211 (phone)</li>
              <li><i class="icon-time"></i> 09.00 - 18.00</li>
              <li></li>
            </ul>
          </div>         

        </div>
      </div>
    </div>