 <div class="container checkout summary">
      <div class="row-fluid">
        <div class="span12">     
          <h2>Payment Confirmation</h2>
          <hr>
          <h3>Thank You</h3>
          <p>We are processing your order with invoice number <%= @payment_confirmation.invoice_code%>.</p>
          <p>Thank you for shopping with Jooliett. </p>
          <p><button class="btnflat action">Let's Back Shopping ^_^</button></p>
        </div><!-- ./span12 -->
      </div><!-- ./ row-fluid -->
    </div><!-- ./container -->
